/* style.css */

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('images/fundo.jpg'); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  color: #fff; /* Texto em branco para contraste */
}

header {
  background-color: rgba(88, 70, 44, 0.9); /* Tom de marrom escuro */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  background-color: rgba(88, 70, 44, 0.7); /* Tom de marrom mais suave */
  padding: 10px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente para contraste */
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  background-color: rgba(88, 70, 44, 0.9); /* Tom de marrom escuro */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #b5a77d; /* Cor de borda em tom dourado */
}

th, td {
  padding: 10px;
  text-align: left;
}

a {
  color: #c28a4f; /* Tom dourado claro para links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Georgia', serif;
  color: #c28a4f; /* Cor dourada para títulos */
}
